body {
  font-family: 'Baskerville',Georgia,Times,serif;
  font-size: 100%;
  line-height: 120%;
}

h1 { 
  font-size: 150%; 
  margin-bottom: 0.5em; 
}

.sg-articles {
/*  text-align: justify;
  -moz-column-width: 20em;
  -moz-column-gap: 2em;
  -webkit-column-width: 20em;
  -webkit-column-gap: 2em;*/
}

/* .quot:before { content: " &#x201E;&#x201C;"; } */

.sg-about { margin-top:0; font-style: italic; }

.sg-article {
  clear:both;
  padding-bottom:1.5em;
}

.sg-article h2 {
  font-size: 100%; 
  display: inline;
}
.sg-article .sg-text { display:inline; }
.sg-text:before { content: " "; }

.sg-alias:before { content: " ("; }
.sg-alias:after  { content: ") "; }

.sg-see {
    font-size:small;
    padding-top:0.3em;
}
.sg-reference {
    font-size: small;
}
.sg-author {
    font-size: small;
    float:right;
    font-style:italic;
}

/* internal and external links */
.sg-link:before { content: "\2197\A0"; }
.sg-link, .sg-link:active, .sg-link:visited {
    border-bottom: 1px #000 dotted;
    text-decoration: none; 
    color: #000;
}
.sg-link:hover {
    border-bottom: 2px #000 solid;
}

.sg-link.missing, .sg-link.missing:active, .sg-link.missing:visited {
    color: #666;
    border: 0px;
}

.sg-extlink, .sg-extlink:active, .sg-extlink:visited {
  text-decoration: none; 
  color: #000;
  border-bottom: none;
}
.sg-extlink:hover { 
  text-decoration: underline; 
  border-bottom: none;
}
