@import url("../print/sgloss.css");

.sg-link.missing, .sg-link.missing:active, .sg-link.missing:visited {
    color: #E00;
}

body {  
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
  margin: 0px auto;
  padding: 0px;
  font-size: 100%;
  line-height: 150%;
}

h1 { 
  font-size: 150%; 
  padding: 0.5em 0em 0.5em 0em;
  margin-bottom: 0.5em; 
}

#header {
  border-bottom: 1px solid #999;
  background: #EEE;
  color: #999;
  padding: 0.4em 1em;
  clear: both;
  font-size: medium;
}
#header a.title {
  font-weight: bold;
}
#header ul {
  display: inline;
  list-style: none;
  padding:0; margin:0; 
}
#header li { display: inline; }
#header li:before { content: "\A0\A0|\A0\A0"; }
#header li:first-child:before { content: " "; }


a, a:visited {
  color: #00A;
  text-decoration:none;
}
a:hover {
  text-decoration:underline;
}
#footer {
  border-top: 2px dotted #ddd;
  margin: 0.5em 1em 0em 1em;
  font-size: small;
}
#body {
  font-family: "Palatino Linotype",Palatino,"Hoefler Text","Book Antiqua",Georgia,serif;
  background: #FFF;
  padding: 0.5em 1em 0em 1em;
}

/* messages */
#msg-container {  
  float:left; width: 100%; z-index: 100;
  text-align: center;
  -moz-box-shadow: 0px 2px 4px #777777;
  -webkit-box-shadow: 0px 2px 4px #777777;
  box-shadow: 0px 2px 4px #777777;

}
#msg-container div {
  border-bottom: 1px solid #000;
  padding: 0.5em; 
}
.message { 
  color: #090;  background-color: #afa; 
}
.error { 
  color: #900; background-color: #faa; 
}

.msg-close {
  cursor: pointer;
  float: right;
  margin-right: 16px;
  text-decoration: none;
  font-weight: bold;
}

.sg-length { font-color: #666; font-style: italic; }
.sg-length:before { content: " ("; }
.sg-length:after  { content: ")"; }

/*div.msg_info { border: 1px #028 solid; background-color: #8cf; }
div.msg_warning { border: 1px #830 solid; background-color: #fc8; }*/

#select-themes {
   font-size:small;
   padding-left: 0.5em;
   margin: 1em 0.5em 0.5em 0.5em;
}
#select-themes .selected { font-weight: bold; }

/* comma-separated list */
.csv {
    display: inline;
    list-style: none;
    padding:0; margin:0; 
}
.csv li { display: inline; }
.csv li:before { content: ", "; }
.csv li:first-child:before { content: " "; }


.backlinks li:first-child:before { content: "\A0\2190\A0"; }

h1 { font-size: 150%; margin-bottom: 0; margin-top:0; }


/* definition list (not for IE<8) */
.properties { 
  padding-left: 1em;
  border-left: 2px solid #666;
  margin-bottom: 0px;
}
.properties dl {
  overflow: auto; width: 100%
  margin-bottom: 0px;
}
.properties dt { font-weight: bold; }
.properties dt:after { content: ":\A0"; }
.properties dt, .properties dd {
  float:left;
  margin:0; padding: 0;
}
.properties dd + dt {
  clear: left;
}

/* forms */
fieldset {   
  margin: 0;
  padding: 0;  
}  
legend {   
  margin-left: 1em;   
  font-weight: bold;  
}  
fieldset dl {   
  margin: 0;
  padding: 0.5em 1em;
  list-style: none;  
}  
fieldset dt {   
   padding: 0; margin:0;
   font-weight: bold;
}
fieldset dd {   
   padding: 0em 0em 1em 0em; margin:0;
}  
fieldset .button {
   display:block;
}

/* custom style */
.sg-link, .sg-link:active, .sg-link:visited {
    color: #00A;
    border: 0px;
}
.sg-link:before { content: ""; }
.sg-articles {
  margin:0; padding:0;
}
.sg-article {
  margin:0; 
  padding: 0.4em 0 0.4em 0;
  border-top: 1px dotted #888;
}
